# Importando Bibliotecas

In [1]:
import pandas as pd
import numpy as np

# Carregando Base de Dados

https://www.kaggle.com/cristobalmitchell/pokedex

In [2]:
!rm -r MLUD
!git clone https://github.com/Crissky/MLUD.git

Cloning into 'MLUD'...
remote: Enumerating objects: 231, done.
remote: Counting objects: 100% (231/231), done.
remote: Compressing objects: 100% (217/217), done.
remote: Total 231 (delta 94), reused 55 (delta 5), pack-reused 0
Receiving objects: 100% (231/231), 1.66 MiB | 13.58 MiB/s, done.
Resolving deltas: 100% (94/94), done.

# Pandas
## Carregando CSV como Pandas Dataframe

In [3]:
df = pd.read_csv('MLUD/AulaEX01/pokemon.csv', sep='\t')

## Visualização dos dados

### Exibindo as 5 primeiras linhas

In [4]:
df.head(5)

   national_number  ...                                        description
0                1  ...  There is a plant seed on its back right from t...
1                2  ...  When the bulb on its back grows large, it appe...
2                3  ...  Its plant blooms when it is absorbing solar en...
3                4  ...  It has a preference for hot things. When it ra...
4                5  ...  It has a barbaric nature. In battle, it whips ...

[5 rows x 55 columns]

### Exibindo as 5 últimas linhas

In [5]:
df.tail(5)

     national_number  ...                                        description
893              894  ...  This Pokémon is a cluster of electrical energy...
894              895  ...  An academic theory proposes that Regidrago’s a...
895              896  ...  Glastrier emits intense cold from its hooves. ...
896              897  ...  It probes its surroundings with all its senses...
897              898  ...  Calyrex is a merciful Pokémon, capable of prov...

[5 rows x 55 columns]

### Exibindo 5 linhas aleatórias

In [6]:
df.sample(5)

     national_number  ...                                        description
492              493  ...  According to the legends of Sinnoh, this Pokém...
434              435  ...  In its belly, it reserves stinky fluid that it...
512              513  ...  Very intelligent, it roasts berries before eat...
881              882  ...  Powerful legs and jaws made it the apex predat...
552              553  ...  This Pokémon is known as the Bully of the Sand...

[5 rows x 55 columns]

### Informações gerais sobre as colunas

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 898 entries, 0 to 897
Data columns (total 55 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   national_number     898 non-null    int64
 1   gen                 898 non-null    object
 2   english_name        898 non-null    object
 3   japanese_name       898 non-null    object
 4   primary_type        898 non-null    object
 5   secondary_type      469 non-null    object
 6   classification      898 non-null    object
 7   percent_male        776 non-null    object
 8   percent_female      776 non-null    object
 9   height_m            898 non-null    float64
 10  weight_kg           898 non-null    float64
 11  capture_rate        898 non-null    object
 12  base_egg_steps      898 non-null    int64
 13  hp                  898 non-null    int64
 14  attack              898 non-null    int64
 15  defense             898 non-null    int64
 16  sp_attack           898 non-null    int64
 17  sp_defense          898 non-null    int64
 18  speed               898 non-null    int64
 19  abilities_0         898 non-null    object
 20  abilities_1         495 non-null    object
 21  abilities_2         3 non-null      object
 22  abilities_hidden    763 non-null    object
 23  against_normal      898 non-null    float64
 24  against_fire        898 non-null    float64
 25  against_water       898 non-null    float64
 26  against_electric    898 non-null    float64
 27  against_grass       898 non-null    float64
 28  against_ice         898 non-null    float64
 29  against_fighting    898 non-null    float64
 30  against_poison      898 non-null    float64
 31  against_ground      898 non-null    float64
 32  against_flying      898 non-null    float64
 33  against_psychict    898 non-null    float64
 34  against_bug         898 non-null    float64
 35  against_rock        898 non-null    float64
 36  against_ghost       898 non-null    float64
 37  against_dragon      898 non-null    float64
 38  against_dark        898 non-null    float64
 39  against_steel       898 non-null    float64
 40  against_fairy       898 non-null    float64
 41  is_sublegendary     898 non-null    int64
 42  is_legendary        898 non-null    int64
 43  is_mythical         898 non-null    int64
 44  evochain_0          898 non-null    object
 45  evochain_1          728 non-null    object
 46  evochain_2          728 non-null    object
 47  evochain_3          335 non-null    object
 48  evochain_4          332 non-null    object
 49  evochain_5          19 non-null     object
 50  evochain_6          19 non-null     object
 51  gigantamax          31 non-null     object
 52  mega_evolution      46 non-null     object
 53  mega_evolution_alt  2 non-null      object
 54  description         898 non-null    object
dtypes: float64(20), int64(11), object(24)
memory usage: 386.0+ KB

### Resumo estatístico das colunas

In [8]:
df.describe()

       national_number    height_m  ...  is_legendary  is_mythical
count       898.000000  898.000000  ...    898.000000   898.000000
mean        449.500000    1.185969  ...      0.022272     0.022272
std         259.374568    1.234222  ...      0.147648     0.147648
min           1.000000    0.100000  ...      0.000000     0.000000
25%         225.250000    0.500000  ...      0.000000     0.000000
50%         449.500000    1.000000  ...      0.000000     0.000000
75%         673.750000    1.500000  ...      0.000000     0.000000
max         898.000000   20.000000  ...      1.000000     1.000000

[8 rows x 31 columns]

### Total de Linhas e Colunas

In [9]:
df.shape

(898, 55)

## Selecionado Dados

### Coluna

A seleção de uma única coluna retorna um objeto do tipo Series.

Enquanto a seleção de mais de uma coluna retorna um objeto do tipo Dataframe.

In [10]:
coluna_tipo = df['primary_type']

coluna_tipo

0         grass
1         grass
2         grass
3          fire
4          fire
         ...
893    electric
894      dragon
895         ice
896       ghost
897     psychic
Name: primary_type, Length: 898, dtype: object

In [11]:
type(df)

pandas.core.frame.DataFrame

In [12]:
type(coluna_tipo)

pandas.core.series.Series

In [13]:
nome_tipo_df = df[['english_name', 'primary_type', 'secondary_type']]

nome_tipo_df

    english_name primary_type secondary_type
0      Bulbasaur        grass         poison
1        Ivysaur        grass         poison
2       Venusaur        grass         poison
3     Charmander         fire            NaN
4     Charmeleon         fire            NaN
..           ...          ...            ...
893    Regieleki     electric            NaN
894    Regidrago       dragon            NaN
895    Glastrier          ice            NaN
896    Spectrier        ghost            NaN
897      Calyrex      psychic          grass

[898 rows x 3 columns]

In [14]:
type(nome_tipo_df)

pandas.core.frame.DataFrame

### Linhas

Filtrando linhas a partir de uma condição (linha que tem o valor 'grass' na coluna 'primary_type')

In [15]:
grass_df = df[df['primary_type'] == 'grass']

grass_df.head(5)

    national_number  ...                                        description
0                 1  ...  There is a plant seed on its back right from t...
1                 2  ...  When the bulb on its back grows large, it appe...
2                 3  ...  Its plant blooms when it is absorbing solar en...
42               43  ...  If exposed to moonlight, it starts to move. It...
43               44  ...  Its pistils exude an incredibly foul odor. The...

[5 rows x 55 columns]

Filtrando por valor maior que

In [16]:
weak_against_water_df = df[df['against_water'] > 1]

weak_against_water_df[['english_name', 'primary_type', 'secondary_type', 'against_water']]

    english_name primary_type secondary_type  against_water
3     Charmander         fire            NaN            2.0
4     Charmeleon         fire            NaN            2.0
5      Charizard         fire         flying            2.0
26     Sandshrew       ground            ice            2.0
27     Sandslash       ground            ice            2.0
..           ...          ...            ...            ...
843   Sandaconda       ground            NaN            2.0
849   Sizzlipede         fire            bug            2.0
850  Centiskorch         fire            bug            2.0
866    Runerigus       ground          ghost            2.0
873  Stonjourner         rock            NaN            2.0

[155 rows x 4 columns]

Filtrando por mais de uma coluna

In [17]:
weak_against_water_ground_df = df[(df['against_water'] > 1) & (df['against_ground'] > 1)]

weak_against_water_ground_df[['english_name', 'primary_type', 'secondary_type', 'against_water', 'against_ground']]

    english_name primary_type secondary_type  against_water  against_ground
3     Charmander         fire            NaN            2.0             2.0
4     Charmeleon         fire            NaN            2.0             2.0
30     Nidoqueen       poison         ground            2.0             2.0
33      Nidoking       poison         ground            2.0             2.0
36        Vulpix         fire            ice            2.0             2.0
..           ...          ...            ...            ...             ...
814    Cinderace         fire            NaN            2.0             2.0
836     Rolycoly         rock            NaN            2.0             2.0
837       Carkol         rock           fire            4.0             4.0
838    Coalossal         rock           fire            4.0             4.0
873  Stonjourner         rock            NaN            2.0             2.0

[101 rows x 5 columns]

Filtrando por uma coluna ou outra

In [18]:
weak_against_water_or_ground_df = df[(df['against_water'] > 1) | (df['against_ground'] > 1)]

weak_against_water_or_ground_df[['english_name', 'primary_type', 'secondary_type', 'against_water', 'against_ground']]

    english_name primary_type secondary_type  against_water  against_ground
3     Charmander         fire            NaN            2.0             2.0
4     Charmeleon         fire            NaN            2.0             2.0
5      Charizard         fire         flying            2.0             0.0
22         Ekans       poison            NaN            1.0             2.0
23         Arbok       poison            NaN            1.0             2.0
..           ...          ...            ...            ...             ...
879    Dracozolt     electric         dragon            0.5             2.0
880    Arctozolt     electric            ice            1.0             2.0
883    Duraludon        steel         dragon            0.5             2.0
889    Eternatus       poison         dragon            0.5             2.0
893    Regieleki     electric            NaN            1.0             2.0

[282 rows x 5 columns]

Filtrando linhas onde a coluna 'mega_evolution' possui algum valor, ou seja, diferente de 'NaN'.

In [19]:
mega_df = df[df['mega_evolution'].notna()]

mega_df.head()

    national_number  ...                                        description
2                 3  ...  Its plant blooms when it is absorbing solar en...
5                 6  ...  It spits fire that is hot enough to melt bould...
8                 9  ...  It crushes its foe under its heavy body to cau...
14               15  ...  It has three poisonous stingers on its foreleg...
17               18  ...  This Pokémon flies at Mach 2 speed, seeking pr...

[5 rows x 55 columns]

### Seleção de linhas e colunas

Seleção por índice - da linha 5 (sexta linha, pois começa em zero) até a linha 14 (décima quinta linha) e coluna 2 (terceira coluna, começa em zero assim como as linhas) até a coluna 6 (sétima coluna).

In [20]:
df.iloc[5:15, 2:7]

   english_name japanese_name primary_type secondary_type       classification
5     Charizard      Lizardon         fire         flying        Flame Pokémon
6      Squirtle      Zenigame        water            NaN  Tiny Turtle Pokémon
7     Wartortle        Kameil        water            NaN       Turtle Pokémon
8     Blastoise         Kamex        water            NaN    Shellfish Pokémon
9      Caterpie      Caterpie          bug            NaN         Worm Pokémon
10      Metapod       Transel          bug            NaN       Cocoon Pokémon
11   Butterfree    Butterfree          bug         flying    Butterfly Pokémon
12       Weedle        Beedle          bug         poison        Hairy Pokémon
13       Kakuna        Cocoon          bug         poison       Cocoon Pokémon
14     Beedrill         Spear          bug         poison   Poison Bee Pokémon

Seleção pelos nomes das linha e colunas

In [21]:
df.loc[0:20, ['english_name', 'primary_type']]

   english_name primary_type
0     Bulbasaur        grass
1       Ivysaur        grass
2      Venusaur        grass
3    Charmander         fire
4    Charmeleon         fire
5     Charizard         fire
6      Squirtle        water
7     Wartortle        water
8     Blastoise        water
9      Caterpie          bug
10      Metapod          bug
11   Butterfree          bug
12       Weedle          bug
13       Kakuna          bug
14     Beedrill          bug
15       Pidgey       normal
16    Pidgeotto       normal
17      Pidgeot       normal
18      Rattata       normal
19     Raticate       normal
20      Spearow       normal